<!DOCTYPE html>
<html>
<head>
  <title>Home - Monthly Account Book</title>
  {% include 'bootstrap.html' %}
</head>
<body>
  {% include 'loginbar.html' %}
   
  <div class="container">
    <h1><center>Monthly Account Book</center></h1>
    <p>Monthly Account Book application is designed and developed for DDOs under Food, Civil Supplies & Consumer Affairs Department, Government of Mizoram. It is for keeping records of monthly income and expenditure account.</p>
  </div>
  {% include 'footer.html' %}
</body>
</html>